@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}


/* Using styling from: https://github.com/Azure-Samples/functions-dotnet-codercards/blob/master/CoderCardsClient/index.html */

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

h1 {
    margin: 0;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto auto 150px;
    grid-template-columns: auto;
    grid-template-areas: "header" "content" "footer";
    background-color: #fff;
    color: #444;
}


.box {
    font-size: 150%;
}

.header,
.footer {}

#imageUploader {
    border-radius: 5px;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
    min-height: 100px;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropzone .dz-message {
    font-weight: 400;
}

#images {
    display: flex;
    justify-content: center;
    min-height: 300px;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
    height: 300px;
    width: 216px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    -webkit-animation: loadingAnimation 1s 20 ease;
    -moz-animation: loadingAnimation 1s 20 ease;
    -o-animation: loadingAnimation 1s 20 ease;
}

@-webkit-keyframes loadingAnimation {
    from {
        -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    }
    to {
        -webkit-transform: rotate(360deg) scale(0.795) skew(1deg) translate(0px);
    }
}

@-moz-keyframes loadingAnimation {
    from {
        -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    }
    to {
        -moz-transform: rotate(360deg) scale(0.795) skew(1deg) translate(0px);
    }
}

@-o-keyframes loadingAnimation {
    from {
        -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    }
    to {
        -o-transform: rotate(360deg) scale(0.795) skew(1deg) translate(0px);
    }
}

.pulse {
    -webkit-animation: pulseAnimation 1s infinite ease;
    -moz-animation: pulseAnimation 1s infinite ease;
    -o-animation: pulseAnimation 1s infinite ease;
}

@-webkit-keyframes pulseAnimation {
    from {
        -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, 10px);
    }
    to {
        -webkit-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px, -10px);
    }
}

@-moz-keyframes pulseAnimation {
    from {
        -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, 10px);
    }
    to {
        -moz-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px, -10px);
    }
}

@-o-keyframes pulseAnimation {
    from {
        -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, 10px);
    }
    to {
        -o-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px, -10px);
    }
}
